body{
    background-color: gold;
}

.ingredients{
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 30px;
    animation: ingredients;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    position: relative;
}

@keyframes ingredients {
    0% {right: -100px;}
    100% {right: 0;}
}

.ingredients-table{
  border: 1px solid black;
  margin-left: 20rem;
}

.instructions{
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
    animation: instructions;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    position: relative;
}

@keyframes instructions {
  0% {right: -1000px;}
  100% {right: 0;}    
}

.instructions ol{
    border: 1px solid red;
    margin: 0 auto;
    width: 75%;
}