body{
    background-color: aquamarine;
}

.heading{
    border: 3px solid black;
    width: 75%;
    animation: heading;
    animation-duration: 3s;
    position: relative;
}

@keyframes heading {
    0% {left: -1000px}
    100% {left: 0}